body{
    margin: 0px;
    padding: 0px 0px 50px 0px;
    background-color:   hsl(240, 13%, 24%);
    box-shadow: inset -500px -250px 500px -30px rgb(0 0 0 /46%);
    color: whitesmoke;
}


    
        
